.EFTJoin{
    display: grid;
    grid-auto-flow: row;
    gap: 15px;
    height: 100vh;
    width: 100vw;
    background: #0c0c0c;
    align-items: center;
    justify-content: center;

}

.BackBtn {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    grid-area: x;
    align-self: baseline;

}

.ImputGroup{
    width: fit-content;   

}

.Prompt{
     font-size: 42px;
     color: aliceblue;
}
.joinbtn{
    margin-top: 75px;
    margin-left: 400px;
    float: right;
}