:root{
    --green: #00ff00;
    --amber: #ffee00;
    --gray: #2c2c2c;
    --red: #ff0000;
    --black: #000000;
    --white: #ffffff;
    --height: 720px;
    --width: 1280px;
}

.eftpage{
    min-height: 100vh;
    background: #0b0b0bfd;
    display: grid;
    grid-template-areas:   "header  header header"
                        "content2  sidebar2 sidebar2"
                        "content  sidebar sidebar"
                        "footer  footer footer";
}

.efttitle{
    display: grid;
    align-content: center;
    font-weight: bolder;
    font-size: 54px;
    margin-right: 1px;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 50px;
    text-align: center;
    color:#ffffff;
}
.eftmapDisplay{
    display: grid;
    align-content: center;
    grid-area: sidebar;
    border: none;
    background-color: transparent;
}
.eftmapList {
    display: grid;
    justify-content: center;
    grid-area: content;
    width: 100%;
}
.eftDropDown {
    grid-area: sidebar2;

}
.eftxbtn{
    align-self: center;
    justify-self: start;
}
.title{
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    grid-area: header;
}
.bottomF{
    display: grid;
    justify-content: center;
    grid-area: footer;
    grid-auto-flow: column;
    gap:20px
}