:root{
    --green: #00ff00;
    --amber: #ffee00;
    --gray: #2c2c2c;
    --red: #ff0000;
    --black: #000000;
    --white: #ffffff;
    --height: 720px;
    --width: 1280px;
}

.eftpage{
    height: 100vh;
    width: 100vw;
    background: #0b0b0bfd;
    display: grid;
    grid-template-columns: 65px calc(1fr + 25px) 1fr auto;
    grid-template-rows: 80px 75px auto;
    grid-template-areas:"xbtn title title title"
                        "list list dropbar dropbar"
                        "list list sidebar sidebar";
}

.efttitle{

    grid-area: title;
    

    font-weight: bolder;
    font-size: 54px;
    margin-right: 1px;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 50px;
    text-align: center;
    color:#ffffff;
}
.eftmapDisplay{
    justify-self: center;

    grid-area: sidebar;
    border: none;
    background-color: transparent;
}
.eftmapList {
    align-self: start;

    grid-area: list;
    width: 100%;
}
.eftDropDown {
    grid-area: dropbar;

}
.eftxbtn{
    justify-content: center;
    grid-area: xbtn;
}
.title{
    justify-content: center;
    grid-area: header;
}
.bottomF{
    display: grid;
    justify-content: center;
    grid-area: footer;
    grid-auto-flow: column;
    gap:20px
}