:root{
    --OvColor: #ffaa00;
}
.ovcontainer{

    position: relative;
    height: 100%;
    width: 100%;



    display: grid;

    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "ov "
    "circl ";


}

.OvCircle{
    position: relative;

    height: 50%;
    width: 60%; 
    
    background: var(--OvColor);
    clip-path: circle(50% at 50% 50%);

    grid-area: circl;
    justify-self: center;
    align-self: center;
    
}
.Overall{
    position: relative;
    font-size: 400%;

    grid-area: ov;
    justify-self: center;
    align-self: flex-start;

}