.GARBpopUpBox{

    position: relative;
    height: 500px;
    width: 900px;

        background-color: #191919;
    --xpx: 25px;
    --ypx: 0px;


    clip-path: polygon(
        /*1*/
        calc(100% - var(--xpx)) calc(0% + var(--ypx)),
        calc(100% - var(--ypx)) calc(0% + var(--xpx)),
        calc(100% - var(--ypx)) calc(100% - var(--ypx)),
        calc(0% + var(--xpx)) calc(100% - var(--ypx)),
        calc(0% + var(--ypx)) calc(100% - var(--xpx)),
        calc(0% + var(--ypx)) calc(0% + var(--ypx)));

        transform: translateX(80px);
}