:root{

    --font-size: 450%;
}


.container {
    
    position: relative;
    
    height: auto;
    width: auto;
    margin-left: 50px;

    column-gap: 5px;
   
    
    display: grid;
    grid-template-columns: 250px 3fr 2fr 3fr 2fr 3fr;
    grid-template-areas: "user ammo spacerA health spacerB armor";
    
}


.SpacerA {


    color: white;
    user-select: none;
    justify-self: center;
    font-size: var(--font-size);
    

    grid-area: spacerA;

}

.SpacerB {
    color: white;
    user-select: none;
    justify-self: center;
    font-size: var(--font-size);

    

    grid-area: spacerB;

}

.garb-user{
    width: 250px;
    color: white;
    font-size: var(--font-size);
    margin-right: 15px;
    overflow-x: hidden;


    grid-area: user;
    justify-self: center;

}



.Ammo-green {
    color: green;
    user-select: none;
    justify-self: center;
    font-size: var(--font-size);

    grid-area: ammo;

}

.Ammo-amber {
    color: darkgoldenrod;
    user-select: none;
    justify-self: center;
    font-size: var(--font-size);

    grid-area: ammo;

}

.Ammo-red {
    color: red;
    user-select: none;
    justify-self: center;
    font-size: var(--font-size);

    grid-area: ammo;

}

.Ammo-black {
    color: black;
    user-select: none;
    justify-self: center;
    font-size: var(--font-size);

    grid-area: ammo;

}

.Health-green {
    color: green;
    user-select: none;
    justify-self: center;
    font-size: var(--font-size);

    grid-area: health;

}

.Health-amber {
    color: darkgoldenrod;
    user-select: none;
    justify-self: center;
    font-size: var(--font-size);

    grid-area: health;

}

.Health-red {
    color: red;
    user-select: none;
    justify-self: center;
    font-size: var(--font-size);


    grid-area: health;

}

.Health-black {
    color: black;
    user-select: none;
    justify-self: center;
    font-size: var(--font-size);

    grid-area: health;

}

.Armor-green {
    color: green;
    user-select: none;
    justify-self: center;
    font-size: var(--font-size);

    grid-area: armor;

}

.Armor-amber {
    color: darkgoldenrod;
    user-select: none;
    justify-self: center;
    font-size: var(--font-size);

    grid-area: armor;

}

.Armor-red {
    color: red;
    user-select: none;
    justify-self: center;
    font-size: var(--font-size);

    grid-area: armor;

}

.Armor-black {
    color: black;
    user-select: none;
    justify-self: center;
    font-size: var(--font-size);

    grid-area: armor;

}