:root {
    --cornercutm: 1.75em;
    --green: #00ff00;
    --amber: #ffee00;
    --gray: #2c2c2c;
    --red: #ff0000;
    --black: #000000;
    --white: #ffffff;
    --MDhight:425px;
    --MDwidth:750px;
    
}
.map--menu--display{
    width: 500px;
    height: 500px;
    clip-path: none;
    border: none;

    
}
.mapImg{
    width: 100%;
    max-height: 100%;
    background-position: center;
    background-color: #000000;
    background-repeat: no-repeat;
}
.pathImageDisplayVisible{
    width: 100%;
    display: block;



}
.PathDisplaySelect{
    display: none;
    border: none;
}
.PathContainer{
    position: absolute;
    height: 500px;
    width: 500px;
    border:#ffffff;



}
.RaidMapDisplay{
    position: relative;
}