:root {
    --cornercutm: 1.75em;
    --green: #00ff00;
    --amber: #ffee00;
    --gray: #2c2c2c;
    --red: #ff0000;
    --black: #000000;
    --white: #ffffff;
    --MDhight:425px;
    --MDwidth:750px;
    
}
.map--menu--display{
    height: var(--MDhight);
    width: var(--MDwidth);
    background-size:contain;
    clip-path: none;
    border: none;
    overflow: scroll;
    
}
.mapImg{
    max-width: calc(var(--MDwidth) * 1.5) ;
    min-width: var(--MDwidth);
    background-position: center;
    background-color: #000000;
    background-repeat: no-repeat;
}
