:root {
    --cornercutm: 1.75em;
    --green: #00ff00;
    --amber: #ffee00;
    --gray: #2c2c2c;
    --red: #ff0000;
    --black: #000000;
    --white: #ffffff;
    --height: 720px;
    --width: 1280px;
}
.map--menu--display{
    height: 200px;
    width: 400px;
    background-size:contain;
    clip-path: polygon(
            var(--cornercutm) 0%,
            100% 0,
            100% calc(100% - var(--cornercutm)),
            calc(100% - var(--cornercutm)) 100%,
            0 100%,
            0% var(--cornercutm)
            );
            background: transparent;
    
}
img{
    height: 400px;
    width: 400px;
    background-image: url(../Images/custumsmapog.png);
    background-clip: unset;
    background-size:contain;
    background-repeat: no-repeat;
    
    

}