.sbar {

    --bpx: 15px;
    height: 100%;
    width: 40px;
    background: #2c2c2c;

    clip-path: polygon(
            /*2*/
            calc(100% - var(--bpx)) 0%,
            /*3*/
            100% calc(0% + var(--bpx)),
            /*4*/
            100% 100%,
            /*5*/
            calc(0% + var(--bpx)) 100%,
            /*6*/
            0% calc(100% - var(--bpx)),
            /*1*/
            0 0);
    transition: width 1.5s;

    display: grid;
    grid-template-columns: 40px;
    grid-template-rows: 100%;
    grid-template-areas: "arrow";

}

.sbarOpen {

    --bpx: 15px;
    height: 100%;
    width: 300px;
    background: #2c2c2c;
    clip-path: polygon(
            /*2*/
            calc(100% - var(--bpx)) 0%,
            /*3*/
            100% calc(0% + var(--bpx)),
            /*4*/
            100% 100%,
            /*5*/
            calc(0% + var(--bpx)) 100%,
            /*6*/
            0% calc(100% - var(--bpx)),
            /*1*/
            0 0);
    transition: width 1s;

    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 100%;

    grid-template-areas:
        "menu arrow";
}

.arrowcont {

    height: 50px;
    width: 40px;
    transition: margin 1.5s;

    align-self: center;
    justify-self: center;


    grid-area: arrow;

}

.arrowcontOpen {

    height: 50px;
    width: 40px;
    transition: all 1s;

    align-self: center;
    justify-self: center;

    grid-area: arrow;

}



.sarrow {
    grid-area: arrow;
    align-self: center;
    margin: 15%;
    --txp: 10px;
    height: 50px;
    width: 50px;
    background: #454545;
    clip-path: polygon(
            /*1*/
            0% 0%,
            /*6*/
            0 calc(0% + var(--txp)),
            /*5*/
            calc(50% - var(--txp)) 50%,
            /*4*/
            0 calc(100% - var(--txp)),
            /*3*/
            0% 100%,
            /*2*/
            50% 50%);
    transition: all 1.5s;



}

.sarrowOpen {

    --txp: 10px;
    height: 50px;
    width: 50px;
    background: #454545;
    clip-path: polygon(
            /*1*/
            0% 0%,
            /*6*/
            0 calc(0% + var(--txp)),
            /*5*/
            calc(50% - var(--txp)) 50%,
            /*4*/
            0 calc(100% - var(--txp)),
            /*3*/
            0% 100%,
            /*2*/
            50% 50%);
    transition: all 1s;
    transform: rotate(180deg);

    grid-area: arrow;
    align-self: center;
    margin-left: -35%;



}

.sbcontent {
    visibility: hidden;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: visibility 100ms;



}

.sbcontentOpen {
    visibility: visible;
    height: 100%;
    width: 100%;
    overflow: hidden;

    grid-area: menu;




}