.TrakerSelect{
    height: 100vh;
    width: 100vw;

    display: grid;

    grid-template-columns: 65px 1fr 3fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;

    grid-template-areas: 
    "xbtn .        .        ."
    ".    .        btnGroup ."
    ".    .        .        .";
}

